<table class="table table-bordered">
    <thead>
        <tr>
            <th>IFSC</th>
            <th>Bank Id</th>
            <th>Branch</th>
            <th>Address</th>
            <th>City</th>
            <th>District</th>
            <th>State</th>
        </tr>
    </thead>
    <tbody>
        <td>{{bank.ifsc}}</td>
        <td>{{bank.bank_id}}</td>
        <td>{{bank.branch}}</td>
        <td>{{bank.address}}</td>
        <td>{{bank.city}}</td>
        <td>{{bank.district}}</td>
        <td>{{bank.state}}</td>
        </tbody>
</table>