
<div style="margin: 175px;">
<nav class="navbar navbar-light bg-light">
  <div class="dropdown show">
    <select class="form-select"  (change)="cityselect($event)" aria-label="Default select example">
      <option selected> Select The City</option>
      <option value="MUMBAI">MUMBAI</option>
      <option value="HYDERABAD">HYDERABAD</option>
      <option value="DELHI">DELHI</option>
      <option value="KOLKATA">KOLKATA</option>
      <option value="BAHRAICH">BAHRAICH</option>
      <option value="AHMEDABAD">AHMEDABAD</option>
      <option value="MIRZAPUR">MIRZAPUR</option>
      <option value="BANDA">BANDA</option>
    </select>
  </div>
  <form class="form-inline">
    <input class="form-control mr-sm-2" type="text" name="srk" [(ngModel)]="srk" (ngModelChange)="Search()" placeholder="Search">
  </form>
</nav>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>IFSC</th>
      <th>Bank Id</th>
      <th>Branch</th>
      <th>Address</th>
      <th>City</th>
      <th>District</th>
      <th>State</th>
      <th>View Details</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let bank of banks | paginate : {
                itemsPerPage: tableSize,
                currentPage: page,
                totalItems: count
              };
        let i = index" [class.active]="i">
        <td>{{bank.ifsc}}</td>
        <td>{{bank.bank_id}}</td>
        <td>{{bank.branch}}</td>
        <td>{{bank.address}}</td>
        <td>{{bank.city}}</td>
        <td>{{bank.district}}</td>
        <td>{{bank.state}}</td>
        <td><a href="/bank/{{bank.bank_id}}">View Details</a></td>
      </tr>
      <tr>
        <td colspan="8">
          <div class="d-flex bd-highlight mb-2">
            <div class="p-2 bd-highlight">
              Select No Of Rows :
              <select (change)="onTableSizeChange($event)" class="custom-select">
                
                <option *ngFor="let size of tableSizes" [ngValue]="size">
                  {{ size }}
                </option>
              </select>
            </div>
          </div>


        </td>
      </tr>
      <tr>
        <td colspan="8">
              <div class="d-flex justify-content-center">
                <pagination-controls previousLabel="Prev" nextLabel="Next" (pageChange)="onTableDataChange($event)">
                </pagination-controls>
              </div>
        </td>
      </tr>
        
  </tbody>
</table>


</div>

